[Unit]
Description= Blink LED
After=multi-user.target

[Service]
ExecStart=/home/sel/809205/Pratica_5/blink_s.sh
#ExecStop=
user=SEL

[Install]
WantedBy=multi-user.target
